* {
    margin: 0;
    padding: 0;
    font-family: Georgia, Palatino, Times, 'Times New Roman', sans-serif;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f30;
}
a:hover {
    color: #f90;
}


#sidebar {
    position: 	absolute;
    top:	32px;
    left:	32px;
    width:	160px;
    padding:	32px 0 0 0;
    text-align:	right;
}
#main {
    position:	absolute;
    top:	32px;
    left:	224px;
    width:	640px;
    border-left:1px solid #ccc;
    padding:	0 0 0 32px;
}

#cv {
    padding:	16px 0 16px 0;
}


#main p {
    margin: 20px 0;
    font-size: 15px;
    line-height: 20px;
}

#sidebar h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
    line-height: 20px;
}

#sidebar ul {
    list-style-type: none;
    margin: 20px 0;
}


#sidebar li {
    font-size: 14px;
    line-height: 20px;
}


/*
 * cv.html
 */

#cv p {
    text-align: justify;
}

#cv h3 {
    margin-bottom: 8px;
}

#cv .date {
    font-size: 14px;
    font-style: italic;
}

#cv .link { 
    font-variant: small-caps;
    font-size: 13px;
    font-weight: bold;
}
#cv #publications .title {
    text-decoration: underline;
}

#cv #publications .source {
    font-style:italic;
}

#cv #publications p {
    margin-top: 2px;
    margin-bottom: 2px; 
}

