html {
  font-size: 14px;
}

.body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Roboto, sans-serif;
}

.navbar {
    padding-left: 1rem;
}

a {
  color: #f30;
  text-decoration: none;
}
a:hover {
  color: #000;
}
