
{{ with .Site.Social.bitbucket }}
<li><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket"></i></a></li>
{{ end }}

{{ with .Site.Social.jsfiddle }}
<li><a href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle"></i></a></li>
{{ end }}

{{ with .Site.Social.codepen }}
<li><a href="//codepen.io/{{.}}" target="_blank" title="CodePen"><i class="fa fa-codepen"></i></a></li>
{{ end }}

{{ with .Site.Social.foursquare }}
<li><a href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fa fa-foursquare"></i></a></li>
{{ end  }}

{{ with .Site.Social.dribbble }}
<li><a href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
{{ end }}

{{ with .Site.Social.deviantart }}
<li><a href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt"><i class="fa fa-deviantart"></i></a></li>
{{ end }}

{{ with .Site.Social.behance }}
<li><a href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></li>
{{ end }}

{{ with .Site.Social.flickr }}
<li><a href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
{{ end }}

{{ with .Site.Social.instagram }}
<li><a href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
{{ end }}

{{ with .Site.Social.vimeo }}
<li><a href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
{{ end }}

{{ with .Site.Social.vine }}
<li><a href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fa fa-vine"></i></a></li>
{{ end }}

{{ with .Site.Social.medium}}
<li><a href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a></li>
{{ end }}

{{ with .Site.Social.wordpress }}
<li><a href="//{{.}}.wordpress.com" target="_blank" title="WordPress"><i class="fa fa-wordpress"></i></a></li>
{{ end }}

{{ with .Site.Social.tumblr }}
<li><a href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
{{ end }}

{{ with .Site.Social.xing }}
<li><a href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fa fa-xing"></i></a></li>
{{ end }}

{{ with .Site.Social.slideshare }}
<li><a href="//slideshare.com/{{.}}" target="_blank" title="SlideShare"><i class="fa fa-slideshare"></i></a></li>
{{ end }}

{{ with .Site.Social.stackoverflow }}
<li><a href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow"><i class="fa fa-stackoverflow"></i></a></li>
{{ end }}

{{ with .Site.Social.reddit }}
<li><a href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fa fa-reddit"></i></a></li>
{{ end }}

{{ with .Site.Social.pinterest }}
<li><a href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
{{ end }}

{{ with .Site.Social.googleplus }}
<li><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
<li><a href="//facebook.com/{{.}}" target="_blank" class="fa-facebook" title="Facebook"></a></li>
{{ end }}

{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" target="_blank" class="fa-twitter" title="Twitter"></a></li>
{{ end }}

{{ with .Site.Social.linkedin }}
<li><a href="//linkedin.com/in/{{.}}" target="_blank" class="fa-linkedin" title="LinkedIn"></a></li>
{{ end }}

{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" class="fa-github" title="GitHub"></a></li>
{{ end }}

{{ with .Site.Social.strava }}
<li><a href="//www.strava.com/athletes/{{.}}" target="_blank" class="fa-bicycle" title="Srava"></a></li>
{{ end }}
